*
{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body
{
	font-family: 'Poppins', sans-serif;
}

.brand
{
	font-size:20px;



}
.brand a
{
	color:white;
	margin-left: 50px;
	text-decoration: none;
}


.navbar
{
   display: flex;
   align-items: center;
   padding: 20px;
   background: black;
   margin-top:5px;
   

}

nav
{
	flex:1;
	text-align: right;
}

nav ul
{
	display: inline-block;
	list-style: none;

}

nav ul li
{
	display: inline-block;
	margin-right: 20px;
	border:1px solid white;
	border-radius: 30px;
	padding:10px;

}
nav ul li a
{
	color:white;
}
.container
{
	max-width:1300px;
	margin: auto;
	padding-left: 25px;
	padding-right:25px;
}

.row
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	
}

.col-2
{
	flex-basis: 50%
	min-width:300px;
}


.content
{
	margin-top: 150px;
	margin-left: 100px;
	font-size: 35px;
}
button
{   display: inline-block;
	margin-left:100px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 25px;
	margin-top: 40px;
	background: #ff523b;
	padding:15px; 
	transition: background 0.5s;

}
button:hover
{
	background:green;
}
.header
{
	background:radial-gradient(#fff,#ffd6d6);
    
}

.categories
{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 35px;

}
.categories1
{
	margin:70px 0;

}

.col-3
{
	flex-basis: 30%;
	min-width: 300px;
	margin-left:50px;
	margin-bottom: 40px;


}

..col-3 img
{
	width: 100%;
}

.Small
{
	max-width: 1080;
	margin: auto;
	padding-left: 25px;
	padding-right:25px;
}

.col-3 h4 
{
	margin-top:20px;
	margin-left:100px;
}

.col-3 a
{
	color:red;
	margin-left: 110px;


}
.footer
{
	background:#000;
	color:#8a8a8a;
	max-height: 450px;
	font-size: 15px;
	padding: 40px 0 20px;
}

.footer h3
{
	color:white;
	margin-bottom: 20px;
}
.footer-col-1
{
	min-width: 250px;
	margin-top:40px;
	margin-bottom: 20px;
	flex-basis: 30%;
	text-align: center;


}

.footer-col-2
{
	min-width: 250px;
	margin-bottom: 20px;
	flex:1;
	text-align: center
}


.footer-col-2 li
{
   list-style: none;
   
   padding-top:5px;

}

.footer-col-4
{
	min-width: 250px;
	margin-bottom:40px;
	flex-basis: 30%;
	text-align: center; 

}
.app
{
	margin-top: 20px;
}

.app img
{
	width:140px;
}

.footer-col-2 li:hover
{
	color:rgb(0,255,255);
}
